<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d8d3f55a-8679-4dad-bbe3-3b851100c78e/resourcegroups/rg-SeagullsV22/providers/Microsoft.ContainerRegistry/registries/AzureFunc20220515174336</ResourceId>
    <ResourceName>AzureFunc20220515174336</ResourceName>
    <ResourceGroup>rg-SeagullsV22</ResourceGroup>
    <Subscription>Wells Hackathon Azure Sponsorship</Subscription>
    <RegistryUrl>https://azurefunc20220515174336.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>